[user]
	name = mmatokovic
	email = 27929908+mmatokovic@users.noreply.github.com
[init]
    templatedir = ~/.dotfiles/.git_hooks
# Work .gitconfig
[includeIf "gitdir:~/source/repos/crosig/"]
    path = ~/source/repos/crosig/.gitconfig
[core]
	longpaths = true
[safe]
	directory = *
